---
import CardContainer from "@features/card/components/CardContainer.astro";
import ButtonPlay from "@shared/button/ButtonPlay.astro";
---

<!-- Sección Hero a pantalla completa -->
<section
  class="hero relative flex items-center justify-center overflow-hidden text-white w-full"
  aria-label="Imagen principal de Squid Game"
>
  <figure
    class="flex items-center justify-center overflow-hidden"
    aria-hidden="true"
  >
    <img
      src="images/hero-squid.png"
      alt="Ilustración principal de Squid Game"
      class="hero-img object-cover object-center h-[86vh]"
      loading="lazy"
      decoding="async"
    />
  </figure>

  <section class="hero-contenido absolute bottom-0 w-full">
    <div
      class="hero-wrapper size-full container mx-auto flex flex-col md:flex-row md:justify-between gap-10 md:gap-0 items-center px-8 py-14"
    >
      <ButtonPlay />
      <CardContainer />
    </div>
  </section>
</section>

<style>
  .hero-img {
    mask-image: linear-gradient(black 80%, transparent);
    filter: drop-shadow(0 0 0.625rem rgba(255, 255, 255, 0.5));
  }
</style>
