<button
  id="play"
  class="btn btn-play absolute left-35 bottom-60 md:left-12 md:bottom-12 flex items-center justify-start text-xl"
>
  <svg
    class="p-2 size-14 bg-[#ff1b7b] rounded-full cursor-pointer"
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="currentColor"
    class="icon icon-tabler icons-tabler-filled icon-tabler-player-play"
    ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
      d="M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z"
    ></path></svg
  >
  <div class="text-btn w-50 font-bold">
    <span>"STAY ALIVE OR STAY HUMAN"</span>
  </div>
</button>

<script>
  let sound = new Audio("/squid_game.mp3");

  play.addEventListener("click", () => {
    sound.play();
  });

  sound.addEventListener("ended", () => {
    sound.currentTime = 0;
    sound.play();
  });

  sound.play();

</script>
