---
import "./src/styles/global.css";

interface Props {
  title: string;
  description: string;
}

const { title, description }: Props = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  :where(*) {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
  }

  :where(html) {
    font-size: 100%;
    line-height: var(--espaciado-base);
    scroll-behavior: smooth;
  }
  :where(body) {
    --espaciado-base: 1.4em;
    height: 100vh;
    height: 100dvh;
    min-height: 100vh;
    font-size: 1rem;
    line-height: var(--espaciado-base);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    hyphens: auto;
  }
</style>
