---
import Card from "./Card.astro";
---

<section class="card-container w-full flex justify-center md:justify-end gap-1 overflow-hidden">
  <Card />
</section>

<style>
  .card-container::-webkit-scrollbar {
    display: none;
  }
  .card-container {
    scrollbar-width: none;
  }
</style>
